body, main, header, footer {
  text-align: center;
}

header, main, footer {
  margin: 0 10vw;
  padding: 1rem 0;
  background-color: lightgray;
}

body {
  width: 100%;
  background: blue;
  background-image: url("images/background.png");
}

/*********************************** HEADER STYLES ***********************************/

header {
  height: 80px;
  align-items: center;
  font-family: "zubilo-shadow", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

h1 {
  padding: 0;
  margin: 0;
}

/*********************************** MAIN STYLES ***********************************/
main {
  display: flex;
  justify-content: space-evenly ;
  background-color: blueviolet;
}

canvas {
  display: block;
}

/* customization styles */

#customization-panel {
  width: 350px;
}

#category-buttons {
  height: 100px;

  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  grid-template-rows: 50px 50px;
  justify-items: center;
  align-items: center;
}

#category-buttons img {
  width: 50%;
  box-sizing: border-box;
  border-radius: 4px;

  background-color: white;

}

#category-buttons img:hover {
  width: 55%;
}

.eyes-category, .nose-category, .mouth-category, .head-category, .ears-category {
  height: 400px;
  width: 350px;
  
  display: grid;
  grid-template-columns: 175px 175px;
  grid-template-rows: 88px 88px 88px 88px;
  justify-items: center;

  border-radius: 5px;

  background-color: papayawhip;

}

.eyes-category img, .nose-category img, .mouth-category img, .head-category img, .ears-category img {
  width: 50%;
}

.eyes-category img:hover, .nose-category img:hover, .mouth-category img:hover, .head-category img:hover, .ears-category img:hover{
  width: 55%;
}