:root {
  --note-blue: RGB(132, 149, 208);
  --note-medblue: RGB(181, 191, 224);
  --note-ltblue: RGB(230, 232, 240);
  --note-red: RGB(208, 132, 132);
}

body, main, header, footer {
  text-align: center;
}

header, main, footer {
  margin: 0 10vw;
  padding: 1rem 0;
  background-color: var(--note-ltblue);
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("images/paper.png");
  background-size: cover;
}

/*********************************** HEADER STYLES ***********************************/

header {
  height: 80px;
  align-items: center;

  font-family: "tomarik-extrovert", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  border-radius: 10px 10px 0 0;
  padding-bottom: 20px;
  border-bottom: solid 2px var(--note-red);

}

h1 {
  padding: 0;
  margin: 0;
}

/*********************************** MAIN STYLES ***********************************/
main {
  display: flex;
  justify-content: space-evenly ;

  padding-top: 50px;
  padding-bottom: 30px;
}

canvas {
  display: block;
}

/* customization styles */

#customization-panel {
  width: 352px;
}

#empty-space {
  height: 400px;
  width: 352px;
  background-color: var(--note-medblue);
  border-radius: 5px;
}

#category-buttons {
  height: 100px;

  display: grid;
  grid-template-columns: 88px 88px 88px 88px;
  grid-template-rows: 50px 50px;
  justify-items: center;
  align-items: center;

  padding-bottom: 20px;
}

#category-buttons img {
  width: 50%;
  box-sizing: border-box;
  border: dashed 2px var(--note-medblue);
  border-radius: 4px;

  background-color: var(--note-ltblue);

}

#category-buttons img:hover {
  width: 55%;
  border: solid 2px var(--note-medblue);
}

.eyes-category, .nose-category, .mouth-category, .head-category, .ears-category, .top-category, .bottom-category, .shoe-category {
  height: 400px;
  width: 352px;
  
  display: grid;
  grid-template-columns: 175px 175px;
  grid-template-rows: 100px 100px 100px 100px;
  justify-items: center;

  border-radius: 5px;

  background-color: var(--note-medblue);

}

.eyes-category img, .nose-category img, .mouth-category img, .head-category img, .ears-category img, .top-category img, .bottom-category img, .shoe-category img {
  width: 50%;
}

.eyes-category img:hover, .nose-category img:hover, .mouth-category img:hover, .head-category img:hover, .ears-category img:hover, .top-category img:hover, .bottom-category img:hover, .shoe-category img:hover {
  width: 55%;
  border: dashed 2px var(--note-red);
  border-radius: 20%;
}

footer {
  height: 50px;
  align-content: center;

  font-family: "tomarik-extrovert", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  border-top: solid 2px var(--note-red);
}